version: "3"
services:
  s3:
    image: "ghcr.io/espebra/stupid-simple-s3:latest"
    hostname: "s3"
    restart: "no"
    environment:
      - STUPID_RW_ACCESS_KEY=s3accesskey
      - STUPID_RW_SECRET_KEY=s3secretkey
    expose:
      - "5553"
    ports:
      - "5553:5553"
    networks:
      - local

  db:
    image: "postgres:17-alpine"
    hostname: "db"
    restart: "no"
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=changeme
    expose:
      - "5432"
    ports:
      - "5432:5432"
    networks:
      - local

  app:
    build:
      context: .
      dockerfile: Dockerfile.integration-tests
    restart: "no"
    environment:
      # Database
      - FILEBIN_DATABASE_HOST=db
      - FILEBIN_DATABASE_PORT=5432
      - FILEBIN_DATABASE_NAME=db
      - FILEBIN_DATABASE_USERNAME=username
      - FILEBIN_DATABASE_PASSWORD=changeme
      # S3
      - FILEBIN_S3_ENDPOINT=s3:5553
      - FILEBIN_S3_REGION=us-east-1
      - FILEBIN_S3_BUCKET=filebin
      - FILEBIN_S3_ACCESS_KEY=s3accesskey
      - FILEBIN_S3_SECRET_KEY=s3secretkey
      - FILEBIN_S3_SECURE=false
      # HTTP
      - FILEBIN_LISTEN_HOST=0.0.0.0
      - FILEBIN_ACCESS_LOG=access.log
      # Admin
      - FILEBIN_ADMIN_USERNAME=admin
      - FILEBIN_ADMIN_PASSWORD=changeme
      # Metrics
      - FILEBIN_METRICS=true
      - FILEBIN_METRICS_USERNAME=metrics
      - FILEBIN_METRICS_PASSWORD=changeme
      - FILEBIN_METRICS_AUTH=basic
      # Lurker
      - FILEBIN_LURKER_INTERVAL=10
      - FILEBIN_EXPIRATION=3600
      # Limits
      - FILEBIN_LIMIT_STORAGE=1G
      # Features
      - FILEBIN_REQUIRE_VERIFICATION_COOKIE=true
      # Contact
      - FILEBIN_CONTACT=changeme@filebin.net
    expose:
      - "8080"
    ports:
      - "8080:8080"
    volumes:
      - .:/app:delegated
    depends_on:
      - db
      - s3
    networks:
      - local

networks:
  local: null
