html, body {
    margin: 0;
    height: 100%;
}

#fileDrop {
    background: #EEEEEE;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
    opacity: 0.9;
    border: 7px dashed #000000;
    visibility: hidden;
    font-family: Courier;
}

#fileList {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 0px;
}

#fileList li {
    margin: 0;
    padding-top: 15px;
    overflow: auto;
    position: relative;
}

.upload {
    width: 100%;
    height: 100%;
}

