{{ define "admin_dashboard" }}<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/static/img/favicon.png">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/fontawesome.all.min.css"/>
        <link rel="stylesheet" href="/static/css/custom.css"/>
        <script src="/static/js/sorttable.js"></script>

        <link rel="stylesheet" href="/static/css/Chart.min.css"/>
        <script src="/static/js/Chart.min.js"></script>

        <title>Filebin | Dashboard</title>
    </head>
    <body class="container-fluid">

        {{template "admin_bar" .}}

        <h1>Dashboard</h1>

        <ul>
            <li>Maximum number of open connections to the database: {{ .DBStats.MaxOpenConnections}}</li>
            <li>The number of established connections both in use and idle: {{ .DBStats.OpenConnections}}</li>
            <li>The number of connections currently in use: {{ .DBStats.InUse}}</li>
            <li>The number of idle connections: {{ .DBStats.Idle}}</li>
            <li>The total number of connections waited for: {{ .DBStats.WaitCount}}</li>
            <li>The total time blocked waiting for a new connection: {{ .DBStats.WaitDuration}}</li>
            <li>The total number of connections closed due to SetMaxIdleConns: {{ .DBStats.MaxIdleClosed}}</li>
            <li>The total number of connections closed due to SetConnMaxIdleTime: {{ .DBStats.MaxIdleTimeClosed}}</li>
            <li>The total number of connections closed due to SetConnMaxLifetime: {{ .DBStats.MaxLifetimeClosed}}</li>
        </ul>

        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
{{ end }}
