{{ define "metrics" }}HELP data_transfer Approximate data transfer in bytes
TYPE data_transfer counter
data_transfer{direction="client-to-filebin"} {{ .BytesClientToFilebin }}
data_transfer{direction="filebin-to-storage"} {{ .BytesFilebinToStorage }}
data_transfer{direction="storage-to-client"} {{ .BytesStorageToClient }}
data_transfer{direction="storage-to-filebin"} {{ .BytesStorageToFilebin }}
data_transfer{direction="filebin-to-client"} {{ .BytesFilebinToClient }}

HELP file_operations Number of file operations
TYPE file_operations counter
file_operations{operation="upload"} {{ .FileUploadCount }}
file_operations{operation="download"} {{ .FileDownloadCount }}
file_operations{operation="delete" {{ .FileDeleteCount }}

HELP bin_operations Number of bin operations
TYPE bin_operations counter
bin_operations{operation="delete"} {{ .BinDeleteCount }}
bin_operations{operation="create"} {{ .NewBinCount }}

HELP archive_downloads Number of archive downloads
TYPE archive_downloads counter
archive_downloads{format="tar"} {{ .TarArchiveDownloadCount }}
archive_downloads{format="zip"} {{ .ZipArchiveDownloadCount }}

HELP page_views Number of page views
TYPE page_views counter
page_views{page="front"} {{ .FrontPageViewCount }}
page_views{page="bin"} {{ .BinPageViewCount }}

HELP operations_in_progress Number of operations currently in progress
TYPE operations_in_progress gauge
operations_in_progress{operation="file-upload"} {{ .FileUploadInProgress }}
operations_in_progress{operation="storage-upload"} {{ .StorageUploadInProgress }}
operations_in_progress{operation="archive-download"} {{ .ArchiveDownloadInProgress }}

HELP transactions Number of transactions logged in the database
TYPE transactions gauge
transactions{} {{ .CurrentLogEntries }}

HELP storage_used The number of bytes consumed by the files in storage
TYPE storage_used gauge
storage_used{} {{ .CurrentBytes }}

HELP file_count The number of files in storage
TYPE file_count gauge
file_count{} {{ .CurrentFiles }}

HELP bin_count The number of bins active
TYPE bin_count gauge
bin_count{} {{ .CurrentBins }}
{{ end }}
