{{ define "metrics" }}# HELP filebin_data_transfer_bytes Approximate data transfer in bytes
# TYPE filebin_data_transfer_bytes counter
filebin_data_transfer_bytes{id="{{ .Id }}",direction="client_to_filebin"} {{ .BytesClientToFilebin }}
filebin_data_transfer_bytes{id="{{ .Id }}",direction="filebin_to_storage"} {{ .BytesFilebinToStorage }}
filebin_data_transfer_bytes{id="{{ .Id }}",direction="storage_to_client"} {{ .BytesStorageToClient }}
filebin_data_transfer_bytes{id="{{ .Id }}",direction="storage_to_filebin"} {{ .BytesStorageToFilebin }}
filebin_data_transfer_bytes{id="{{ .Id }}",direction="filebin_to_client"} {{ .BytesFilebinToClient }}

# HELP filebin_file_operations Number of file operations
# TYPE filebin_file_operations counter
filebin_file_operations{id="{{ .Id }}",type="upload"} {{ .FileUploadCount }}
filebin_file_operations{id="{{ .Id }}",type="download"} {{ .FileDownloadCount }}
filebin_file_operations{id="{{ .Id }}",type="delete"} {{ .FileDeleteCount }}

# HELP filebin_bin_operations Number of bin operations
# TYPE filebin_bin_operations counter
filebin_bin_operations{id="{{ .Id }}",type="delete"} {{ .BinDeleteCount }}
filebin_bin_operations{id="{{ .Id }}",type="create"} {{ .NewBinCount }}

# HELP archive_downloads Number of archive downloads
# TYPE archive_downloads counter
filebin_archive_downloads{id="{{ .Id }}",format="tar"} {{ .TarArchiveDownloadCount }}
filebin_archive_downloads{id="{{ .Id }}",format="zip"} {{ .ZipArchiveDownloadCount }}

# HELP filebin_page_views Number of page views
# TYPE filebin_page_views counter
filebin_page_views{id="{{ .Id }}",page="front"} {{ .FrontPageViewCount }}
filebin_page_views{id="{{ .Id }}",page="bin"} {{ .BinPageViewCount }}

# HELP filebin_operations_in_progress Number of file uploads from clients to filebin currently in progress
# TYPE filebin_operations_in_progress gauge
filebin_operations_in_progress{id="{{ .Id }}",type="file_upload"} {{ .FileUploadInProgress }}
filebin_operations_in_progress{id="{{ .Id }}",type="storage_upload"} {{ .StorageUploadInProgress }}
filebin_operations_in_progress{id="{{ .Id }}",type="archive_download"} {{ .ArchiveDownloadInProgress }}

# HELP filebin_transactions Number of transactions logged in the database
# TYPE filebin_transactions gauge
filebin_transactions{id="{{ .Id }}"} {{ .CurrentLogEntries }}

# HELP filebin_storage_bytes The number of bytes consumed by the files in storage
# TYPE filebin_storage_bytes gauge
filebin_storage_bytes{id="{{ .Id }}",type="used"} {{ .CurrentBytes }}
filebin_storage_bytes{id="{{ .Id }}",type="limit"} {{ .LimitBytes }}

# HELP filebin_files The number of files in storage
# TYPE filebin_files gauge
filebin_files{id="{{ .Id }}"} {{ .CurrentFiles }}

# HELP filebin_bins The number of bins active
# TYPE filebin_bins gauge
filebin_bins{id="{{ .Id }}"} {{ .CurrentBins }}
{{ end }}
