name: CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

permissions:
  contents: read

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24.11
      id: go

    - name: Check out code
      uses: actions/checkout@v5

    - name: Verify vendor directory
      run: |
        go mod verify
        go mod vendor
        git diff --exit-code vendor/

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest

    - name: Run govulncheck
      run: |
        go install golang.org/x/vuln/cmd/govulncheck@latest
        govulncheck ./...

    - name: Run tests
      run: docker compose -f ci.yml up --abort-on-container-exit

    - name: Build binaries
      run: |
        sudo rm -rf artifacts
        make linux darwin

