{{ define "contact" }}<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Convenient file sharing. Registration is not required. Large files are supported.">
        <meta name="author" content="Espen Braastad">
        <link rel="icon" href="/static/img/favicon.png">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/fontawesome.all.min.css"/>
        <link rel="stylesheet" href="/static/css/custom.css"/>
        <title>Filebin | Contact</title>
    </head>
    <body class="container-xl">
        {{template "topbar" .}}
        <h1>Contact</h1>
        <p>The service owner can be contacted at {{ .Contact }}.</p>
        {{ template "footer" . }}
    </body>
{{ end }}
